.ant-drawer-body {
  padding: 0px !important;
}
.ant-input-number-group-wrapper {
  width: 100% !important;
}
.ant-input-number {
  width: 100% !important;
}
.ant-input-number-disabled {
  background-color: #e8edf5 !important;
}
