.footer {
  background-color: var(--clr-blue);
  padding-bottom: 40px;
  .body {
    display: flex;
    border-bottom: 1px solid #bacae1;
    padding: 40px 0;
    gap: 170px !important;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px !important;
    }
    @media (max-width: 772px) {
      gap: 30px !important;
    }
    .logo {
      max-width: 150px;
      width: 100%;
    }
    .address {
      display: flex;
      align-items: stretch;
      gap: 10px;
      color: var(--clr-white);
      p {
        display: flex;
        flex-direction: column;
        margin-top: -3px;
        span {
          margin-bottom: 2px;
        }
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 7px;
      p {
        color: var(--clr-white);
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 772px) {
          justify-content: center;
        }
      }
    }
  }
  .bottom {
    color: #bacae1;
    padding-top: 20px;
    font-weight: 400;
  }
}
