@import 'src/assets/styles/base/_mixin.scss';
.order {
  padding: 30px 0;
  h1 {
    text-align: left;
  }
  .body {
    .contact {
      display: grid;
      grid-template-columns: 5fr 5fr;
      gap: 50px;
      background-color: var(--clr-blue);
      padding: 30px;
      color: var(--clr-white);
      border-radius: 10px;
      @media (max-width: 712px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: transparent;
      }
      .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
    .orderTitle {
      font-weight: 600;
      color: var(--clr-black);
      padding: 20px 0;
    }
    .info {
      background-color: var(--clr-gray-200);
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;
      .title {
        background-color: var(--clr-blue);
        color: var(--clr-white);
        padding: 20px 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
      }
      .size {
        padding: 20px 30px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 712px) {
          flex-direction: column;
          .items {
            max-width: 100% !important;
          }
        }
        .items {
          display: flex;
          flex-direction: column;
          max-width: 450px;
          width: 100%;
          .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: rgba(26, 80, 157, 0.08);
            padding: 14px 30px;
            border-radius: 8px;
            &:nth-child(2) {
              background-color: transparent;
            }
            &:nth-child(3) {
              color: var(--clr-gray);
            }
            &:nth-child(4) {
              background-color: transparent;
            }
            span {
              &:last-child {
                color: var(--clr-blue);
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    .pay {
      padding: 30px;
      border: 2px solid var(--clr-blue);
      border-radius: 12px;
      .top {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        padding-bottom: 50px;
        .price {
          p {
            color: var(--clr-gray);
            text-align: right;
          }
        }
        h1 {
          color: var(--clr-blue);
          @include adaptiv-font(48, 24, 48);
        }
        h3 {
          color: var(--clr-black);
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
        flex-wrap: wrap;
        .btns {
          p {
            color: var(--clr-gray);
            padding-bottom: 10px;
            @include adaptiv-font(18, 14, 18);
          }
          .btn {
            width: 110px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px 10px;
            border-radius: 8px;
            background-color: var(--clr-white);
            border: 1px solid var(--clr-gray-100);
            &.active {
              background-color: var(--clr-gray-200);
              border: none;
            }
          }
        }
      }
    }
  }
}
