.clients {
  padding-bottom: 70px;
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;
    .item {
      margin: 0 auto;
    }
  }
}
