@import 'src/assets/styles/base/_mixin.scss';
.achievement {
  padding-bottom: 70px;
  p {
    font-weight: 400;
    @include adaptiv-font(22, 16, 22);
  }
  li {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media (max-width: 770px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 512px) {
      grid-template-columns: repeat(1, 1fr);
    }
    li {
      &:nth-child(1) {
        background-color: var(--clr-pink);
        color: var(--clr-white);
      }
      &:nth-child(2) {
        border: 1px solid var(--clr-blue);
        color: var(--clr-blue);
      }
      &:nth-child(3) {
        border: 1px solid var(--clr-pink);
        color: var(--clr-pink);
      }
      &:nth-child(4) {
        background-color: var(--clr-blue);
        color: var(--clr-white);
      }
      &:nth-child(5) {
        background-color: var(--clr-pink);
        color: var(--clr-white);
      }
      &:nth-child(6) {
        border: 1px solid var(--clr-blue);
        color: var(--clr-blue);
      }
    }
  }
}
